In [11]:
import pandas as pd
import pickle

In [35]:
#Import list of NYC technology companies scraped from http://startupguide.nyc/
tech_zip = pd.read_csv(r"C:\Users\jphos\Documents\Metis\tech_companies.csv")
tech_zip.head()

       Company  zipcode
0      1stdibs    10016
1  helloalfred    10013
2       andela    10001
3       appboy    10018
4     appnexus    10010

In [36]:
#Look at distribution of technology companies by zip codes
tech_zip["zipcode"].value_counts()

10010    16
10018    12
10012    10
10003     8
10013     7
10001     6
10011     5
10014     5
10016     4
10017     3
10004     3
10007     3
10038     2
10006     2
10021     1
11421     1
10002     1
11232     1
11211     1
11101     1
10019     1
11201     1
10036     1
11237     1
10032     1
10474     1
Name: zipcode, dtype: int64

In [45]:
#Create file with zip codes where there are 5 or more technology companies
tech_zip_count = tech_zip.groupby(by = ["zipcode"]).count()
tech_zip_count = tech_zip_count.loc[tech_zip_count["Company"] >= 5]

In [46]:
#Check number of zip codes output for technology target
tech_zip_count.shape[0]

8

In [42]:
#Create file for use with final target selection
with open('tech_company_zips.pickle', 'wb') as to_write:
    pickle.dump(tech_zip_count, to_write)