In [3]:
import pandas as pd
import pickle

In [8]:
#Import donor target zip codes
with open('donor_target_zips.pickle','rb') as read_file:
    new_donor_target = pickle.load(read_file)
new_donor_target.head()

         PCT_DONORS
zipcode
10003      0.471880
10004      0.502008
10005      0.438312
10006      0.411523
10007      0.603604

In [11]:
#Check number of zip codes in donor target
new_donor_target.shape[0]

33

In [9]:
#Import technology company zip codes
with open('tech_company_zips.pickle','rb') as read_file:
    new_tech_target = pickle.load(read_file)
new_tech_target.head()

         Company
zipcode
10001          6
10003          8
10010         16
10011          5
10012         10

In [10]:
#Check number of zip codes in tech target
new_tech_target.shape[0]

8

In [12]:
target_zip = pd.DataFrame.merge(new_donor_target,new_tech_target,on="zipcode")

In [13]:
#Check number of zip codes in target file
target_zip.shape[0]

6

In [14]:
target_zip

         PCT_DONORS  Company
zipcode
10003      0.471880        8
10010      0.490275       16
10011      0.526733        5
10012      0.411353       10
10013      0.387674        7
10014      0.515960        5